*{
	margin: 0;
	padding: 0;
}


#admin-tele{
	position: absolute;
	top: 580px;
	left: 50%;
	margin-left: -480px;
	width: 70%;
	text-align: center;
}

#tele{
	text-align:center; 
	width:700px; 
	height:40px;
	font-size: 20px;
	margin-top:30px;
}

#sendTele{
	width:100px;
	background-color: rgb(245, 62, 91);
	border: none;
	color:#fff;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin-top: 50px;
	cursor: pointer;
	border-radius:10px;
}