*{
	padding: 5px;
	font-family: 'NanumSquare', sans-serif;
	font-size: 15pt;
	letter-spacing: 3px;
	border-radius: 5px;
	border: none;
	color: rgb(79, 78, 92);	
}
input{
	padding: 5px;
	color: white;
	background-color : rgb(245,62,91);
}
#payHistory{
	padding: 5px;
	color: white;
	background-color : rgb(245,62,91);
}