input{
	border: hidden;
	background-color: transparent;
	font-family: 'Fira Sans', 'Extra-Light';
	width: 300px;
}

label{
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
}

h1{
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
	position: absolute;
	top: 100px;
	float: left;
	left: 50px;
	z-index: 1;
}

#registerLine{
	position: absolute;
	width: 200px;
	clear: both;
	top: 150px;
	float: left;
	left: 50px;
	z-index: 1;
}

#loginButton{
	cursor: pointer;
	position: absolute;
	top: 20px;
	float: right;
	right: 170px;
	resize: vertical;
	height: 50px;
	width: 100px;
	background-color: white;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: rgb(245, 62, 91);
	letter-spacing: 5px;
}

#registerButton{
	cursor: pointer;
	position: absolute;
	top: 20px;
	float: right;
	right: 50px;
	resize: vertical;
	height: 50px;
	width: 120px;
	background-color: rgb(245, 62, 91);
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
}


#idChk{
	position: absolute;
	border-radius: 6px;
	float: left;
	left: 390px;
	z-index: 1;
	color: white;
	width: 60px;
	font-family: 'Fira Sans', 'Extra-Light';
	font-size: 10pt;
	text-align: center;
	background-color: rgb(245, 62, 91);
}



#register_ChkPwBox{
	position: absolute;
	top: 250px;
	float: left;
	left: 50px;
}

#register_mobileBox{
	position: absolute;
	top: 250px;
	float: left;
	left: 50px;
}

#register_emailBox{
	position: absolute;
	top: 300px;
	float: left;
	left: 50px;
}

#register_notificationBox{
	position: absolute;
	top: 450px;
	float: left;
	left: 50px;
}

#register_telegramBox{
	position: absolute;
	float: left;
	left: 50px;
}

#yes{
	cursor: pointer;
	position: absolute;
	top: 500px;
	float: left;
	left: 50px;
	resize: vertical;
	height: 30px;
	width: 70px;
	background-color: rgb(245, 62, 91);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
}

#no{
	cursor: pointer;
	position: absolute;
	top: 500px;
	float: left;
	left: 120px;
	resize: vertical;
	height: 30px;
	width: 70px;
	background-color: rgb(245, 62, 91);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
}


#register_long_btn{
	cursor: pointer;
	position: absolute;
	top: 450px;
	float: left;
	left: 50px;
	resize: vertical;
	height: 50px;
	width: 430px;
	background-color: rgb(245, 62, 91);
	border-radius: 15px;
	display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
	z-index: 1;
}

#register_longBtn{
	text-align: center;
	font-family: 'Fira Sans', 'Extra-Light';
	color: white;
	letter-spacing: 5px;
	font-size: 20px;
}

#question{
	position: absolute;
	float: left;
	left: 470px;
	width: 30px;
	height: 30px;
}


#telegram_info{
	position: absolute;
	float: left;
	left: 50px;
	width: 470px;
	height: 260px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}

#telegram_info_question{
	position: absolute;
	float: left;
	left: 470px;
	width: 30px;
	height: 30px;
}


#idLine{
	width: 450px;
}
#pwLine{
	width: 450px;
}
#chkPwLine{
	width: 450px;
}
#mobileLine{
	width: 450px;
}
#emailLine{
	width: 450px;
}
#telegramLine{
	width: 450px;
}